---
layout: default
selector: hire
title: Hire
site_nav_index: 6
permalink: /for-money/
---

<div class="wrapper">
    <section class="chapter"><!--
        --><header class="chapter__header">
            <h1 class="heading kilo">Let's work together</h1>
        </header><!--

        --><div class="chapter__content">
            <div class="chapter__intro">
                <p class="delta">I'm a <a href="/resume">talented</a> back-to-front-end web developer, based in the
                    UK. I've got a great deal to <a href="/websites">offer</a> and I'm extremely passionate about
                    <strike>my</strike> our <a href="/stuff">work</a>.

                <p class="delta">Get in touch and <a href="/testimonials">we'll</a> build something beautiful.</p>
            </div>

            <ul class="list-ui u-mt">
                <li class="list-ui__item">
                    <a class="link-block" href="javascript:window.location.href = 'mailto:' + ['hire','aaron.codes'].join('@')">
                        <h3 class="heading">Email</h3>
                        <span>The best way to contact me.</span>
                    </a>
                </li>
                <li class="list-ui__item">
                    <a class="link-block" href="https://plus.google.com/{{ site.gplus_username }}">
                        <h3 class="heading">Google+</h3>
                        <span>Specifically, via Hangouts.</span>
                    </a>
                </li>
                <li class="list-ui__item">
                    <a class="link-block" href="https://twitter.com/{{ site.twitter_username }}">
                        <h3 class="heading">Twitter</h3>
                        <span>Tweet tweet.</span>
                    </a>
                </li>
                <li class="list-ui__item">
                    <a class="link-block" href="https://github.com/{{ site.github_username }}">
                        <h3 class="heading">GitHub</h3>
                        <span>Mostly private repositories, though.</span>
                    </a>
                </li>
            </ul>
        </div><!--

        --><div class="chapter__meta">
            {% include testimonials/little-yellow-duck.html %}
            {% include testimonials/tutora.html %}
        </div><!--
    --></div>
</div>
