---
layout: default
title: Freelance Web Developer / Laravel &amp; Vue
permalink: /
---

{% assign coding_for = site.time | date: '%Y' | minus: site.coding_since %}

<div class="px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-prose">
        <div class="py-16 overflow-hidden">
            <div class="text-lg">
                <h1>
                    <a href="/" class="block text-4xl font-bold text-center text-gray-900 font-display leading-8 sm:text-5xl dark:text-white">
                        Hey, I'm Aaron
                    </a>

                    <a href="javascript:window.location.href = 'mailto:' + ['hire','aaron.codes'].join('@')" class="block mt-3 text-base tracking-wide text-center text-gray-500 dark:text-gray-200">
                        hire<span class="hidden">antispam</span>@<span class="hidden">antispam</span>aaron.codes
                    </a>
                </h1>

                <div class="mt-8 prose dark:prose-dark prose-lg">
                    <p>
                        I'm a <strong>full stack</strong> web developer, based in the UK.
                    </p>

                    <p>
                        Over the last
                        <attr class="text-gray-900 border-b border-gray-900 border-dashed dark:text-white dark:border-white cursor-help" title="Since {{ site.coding_since }}">
                            {{ coding_for }} years,
                        </attr>
                        I’ve worked with a number of frameworks, libraries and tools - in teams of various sizes - wearing different hats.
                    </p>

                    <p>
                        I write DRY, reusable, testable and decoupled code. I'm obsessed with learning new things and able
                        to pick up new languages, abilities, patterns, principles and styles very quickly and easily.
                    </p>

                    </p>
                        I am currently enjoying building single-page applications with
                        <a href="https://laravel.com/">Laravel</a>,
                        <a href="https://vuejs.org/">Vue</a> and
                        <a href="https://tailwindcss.com/">Tailwind</a>.
                    </p>

                    <ul class="hidden">
                        <li>Quickly understanding and suggesting business logic</li>
                    </ul>
                </div>
            </div>

            <div class="mt-12 prose">
                <h2>I'm a backend developer</h2>

                <p>
                    Working in a senior position for most of my
                    <attr class="text-gray-900 border-b border-gray-900 border-dashed dark:text-white dark:border-white cursor-help" title="Since {{ site.coding_since }}">
                        {{ coding_for }} year
                    </attr>
                    career, I’ve built up a good, solid working knowledge of
                    object-oriented PHP. Since 2012, I’ve primarily worked with Laravel, but I have used other frameworks
                    such as Symfony, Codeignither, Slim and Silex.
                </p>

                <p>
                    I follow best practices, including; compliance with the PSR-2 coding standard, adhering to SOLID principles,
                    leverage Dependency Injection and Service layers patterns.
                </p>

                <p>
                    My main strengths regarding the backend include:
                </p>

                <ul>
                    <li>Quickly understanding and suggesting business logic</li>
                    <li>Database design and optimisation</li>
                    <li>RESTful API design</li>
                    <li>Project architecture</li>
                    <li>Strong frontend skills</li>
                </ul>

                <p>
                    I’ll always try to use the best technology or service available for the task in hand. As such, I’ve used lots, such as: Stripe, Redis, Elasticsearch, Memcached, Docker, Mailgun, Node, Pusher and Websockets.
                </p>
            </div>

            <div class="mt-12 prose">
                <h2>I'm a frontend developer</h2>

                <p>
                    Since the start of my career, I’ve had a special affinity with frontend frameworks. I always felt like they were the future of the web.
                </p>

                <p>
                    From the early days of Backbone to Vue 3 we have today, I’ve been writing fast, scaleable, single page applications for years.
                </p>

                <p>
                    I have an eye for detail, and that's reflected in the HTML &amp; CSS I write. It's clean, semantic, responsive and always closely matches the designs.
                </p>

                <p>
                    My main strengths regarding the frontend include:
                </p>

                <ul>
                    <li>Server Side Rendering experience</li>
                    <li>Fast at writing design accurate HTML &amp; CSS</li>
                    <li>Eye for UX &amp; design</li>
                    <li>Strong backend skills</li>
                </ul>
            </div>


            <div class="mt-12 prose">
                <h2>I'm experienced</h2>

                <p>
                    The proof is in the pudding. The best way for you to see what I can do is to show you what I've done.
                    Here are some of the projects I've worked on:
                </p>
            </div>

            <div class="mt-6 space-y-12">
                {% for post in site.tags.feature %}
                    <div class="mt-6">
                        <h6 class="text-xl font-bold leading-loose text-gray-900 dark:text-white font-display">
                            {{ post.title }}
                        </h6>

                        <div class="mt-3 mb-2 prose dark:prose-dark">
                            {{ post.excerpt }}
                        </div>

                        {% if post.excerpt != post.content %}
                            <a class="text-sm underline" href="{{ post.url | prepend: site.baseurl }}">
                                Read the blog post
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="mt-12 prose">
                <h2>I'm a human</h2>

                <p>Outside of coding, I <a href="/racing">race motorbikes</a> and play squash.</p>
            </div>

            <footer class="mt-12 pb-32">
                &nbsp;
            </footer>
        </div>
    </div>
</div>
