<figure class="border rounded">
    <div class="flex items-center px-3 py-1 bg-gray-100 space-x-2">
        <div class="w-3 h-3 bg-red-300 rounded-full"></div>
        <div class="w-3 h-3 bg-yellow-300 rounded-full"></div>
        <div class="w-3 h-3 bg-green-300 rounded-full"></div>

        <div class="flex-grow px-4 py-1 text-sm leading-none text-gray-400 bg-white rounded">
            <a href="{{ include.url }}" class="no-underline! text-current!">
                {{ include.url }}
            </a>
        </div>

        <div class="w-1/6">
            &nbsp;
        </div>
    </div>

    {% if include.videos %}
        <video autoplay loop muted>
            {% assign videos = include.videos | split: ',' %}
            {% for video in videos %}
                {% assign vid = video | split: ':' %}
                <source type="{{ vid[0] }}" src="{{ vid[1] }}">
            {% endfor %}
            <img src="{{ include.src }}" alt="{{ include.alt }}">
        </video>
    {% else %}
        <img src="{{ include.src }}" alt="{{ include.alt }}">
    {% endif %}
</figure>
