---
layout: default
selector: services
title: Services
site_nav_index: 3
permalink: /services/
---

<div class="wrapper">
    <section class="chapter"><!--
        --><header class="chapter__header">
            <h1 class="heading kilo">I love the www</h1>
        </header><!--

        --><div class="chapter__content">
            <div class="chapter__intro">
                <p class="delta">The web is such an amazing platform. We get to make beautiful web pages with HTML & CSS, kick
                    the user experience up a notch with JavaScript and give them real power with a PHP
                    and/or Node backend.</p>

                <p class="delta">I get my kicks out of using all of these technologies.</p>
            </div>

            <h3>What I do</h3>

            <p>I create bespoke websites and web apps using the most up-to-date web technologies around to
                provide a completely seamless user experience. The kind of user experience you don't even
                notice because it works so damn well. That is what I strive for.</p>

            <p>At this point, the technically minded could take a look at <a href="/resume">my résumé</a>. It has buzz words.</p>


            <h3>What I don't do</h3>

            <ul>
                <li>A Facebook clone for $900
                <li>Wordpress
            </ul>

            <h3>Fin</h3>

            <p><a href="/for-money">Let's get to work.</a></p>
        </div><!--

        --><div class="chapter__meta">
            {% include testimonials/tutora.html %}
            {% include testimonials/little-yellow-duck.html %}
        </div><!--
    --></div>
</div>
