html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.9em;

    @include media-query('tablet') {
        font-size: 1em;
    }
}

body {
    min-width: 320px;
}

html,
body {
    height: 100%;
    min-height: 100%;
}