$browser-color-close:    $color-red;
$browser-color-minimize: $color-yellow;
$browser-color-maximize: $color-green;

.browser {
    padding: 0;
    margin:  $spacing-unit--small 0 $spacing-unit;
    border: 1px solid $color-ui;
    display: inline-block;
    border-radius: 4px;
    width: 100%;

    img,
    video {
        width: 100%;
        display: block;
    }
}
    .browser__chrome {
        line-height: 0;
        background: $color-ui;
        padding: $spacing-unit--micro $spacing-unit--tiny;
        overflow: hidden;
    }
        .browser__list {
            @extend %list-inline;
            float: left;
        }
            .browser__item {
                margin-right: $spacing-unit--micro;
            }
                .browser__blob {
                    $size: 10px;

                    width:         $size;
                    height:        $size;
                    border-radius: $size;
                    background: $color-white;
                    display: block;
                    margin: 1px 0;

                    &.browser__blob--close {
                        background: $browser-color-close;
                    }
                    &.browser__blob--minimize {
                        background: $browser-color-minimize;
                    }
                    &.browser__blob--maximize {
                        background: $browser-color-maximize;
                    }
                }

                .browser__omnibar {
                    $size: $spacing-unit--small;

                    height: $size + 4;
                    margin:  -2px 0 0 $spacing-unit--micro;
                    padding: 0 $spacing-unit--micro;
                    background: $color-white;
                    border-radius: 2px;
                    width: 75%;
                    display: inline-block;
                    float: left;
                    overflow: hidden;

                    a {
                        @include font-size(11px, $size + 4);
                        color: $color-text--light;
                    }
                }