$site-content-nav-padding: 50px;


.site-content {
    padding-top: $spacing-unit--large;
    padding-bottom: $spacing-unit--massive;

    .page--home & {
        height: 100%;
        min-height: 100%;
    }

    @include media-query('tablet') {
        padding-top: $site-content-nav-padding + $spacing-unit--large;
    }

    @include media-query('desk') {
        padding-top: $site-content-nav-padding + $spacing-unit--large + $spacing-unit;
    }

    @include media-query('desk-hd') {
        padding-top: $site-content-nav-padding + $spacing-unit--massive;
    }
}