$spacing-unit--micro:   $inuit-base-spacing-unit / 4;
$spacing-unit--tiny:    $inuit-base-spacing-unit / 3;
$spacing-unit--small:   $inuit-base-spacing-unit / 2;
$spacing-unit:          $inuit-base-spacing-unit;
$spacing-unit--large:   $inuit-base-spacing-unit * 2;
$spacing-unit--huge:    $inuit-base-spacing-unit * 3;
$spacing-unit--massive: $inuit-base-spacing-unit * 4;