$color-white:          #ffffff;
$color-grey--lightest: #f5f5f5;
$color-grey--light:    #eeeeee;
$color-grey:           #bababa;
$color-grey--dark:     #777777;
$color-grey--darkest:  #353535;
$color-black:          #000000;
$color-blue:           #2BA6CB;
$color-red:            #DC5844;
$color-yellow:         #EBB74E;
$color-green:          #9AD05E;

$color-text:        $color-grey--dark;
$color-text--light: $color-grey;
$color-headings:    $color-grey--darkest;
$color-ui:          $color-grey--light;
$color-ui--light:   $color-grey--lightest;
$color-brand:       $color-blue;

$inuit-base-text-color: $color-text;