<blockquote>
    {% if include.excerpt == "false" %}
        <p>It has been brilliant to work with Aaron, as a start-up team, we were
            looking for a talented individual who was able to learn and adapt his
            mindset and skills quickly.</p>

        <p>In Aaron we found a willing team member - helping us understand and
            research technical solutions that better suited the prototype we
            have built.</p>

        <p>His commitment has been second to none. He has an inquisitive mind,
            shares his ideas willingly, and performs the extra research when
            required to be able to produce code that is robust, effective, and
            both suitable for the stage we are at, and ready for growth.</p>

        <p>Our business is based on both on code efficiency and food efficiency,
            Aaron has been willing to sit and understand the nature of our business
            and what inspires us, we believe this has allowed all of us to learn
            vastly and him to produce code that is not only brilliant, but also
            relevant to us by allowing us to think the different possibilities
            and iterations we can achieve.</p>

        <p>I truly believe Aaron's love for programming keeps him extremely motivated
            in solving technical challenges and his technical ability evolving continuously;
            he just aims to always be better, better, better - that is exactly what you
            want when building a business.</p>

        <p>We posed no easy task to him, yet his commitment to both achieving good
            quality code and working with us as a team member allowed him to produce
            a product we believe in.</p>

        <p>We have been woking with Aaron since early 2014 and we look forward to
            continuing doing so.</p>
    {% else %}
        <p>[ Aaron ] just aims to be better, better, better, better [<a href="/testimonials">...</a>]</p>
    {% endif %}

    <p><cite>Juliana Zarate Davila @ <a href="https://cookit.co/">Cookit</a></cite></p>
</blockquote>
