<blockquote>
    {% if include.excerpt == "false" %}
        <p>Fast? Yes. Thorough & high quality? Yes. Efficient code? Yes. Amazing
            analytical skills? Yes. Vegetarian? No. but learning a new framework
            in record time? Yes. - Would hire him again in a split second.</p>
    {% else %}
        <p>Would hire him in a split second. [<a href="/testimonials">...</a>]</p>
    {% endif %}

    <p><cite>Tim Freudenstein @ <a href="https://ask.hilti.com/">Hilti</a></cite></p>
</blockquote>
