<blockquote>
    {% if include.excerpt == "false" %}
        <p>To say Aaron Lord is a very good developer would be an understatement.</p>

        <p>I have always found him to be an exceptional developer, with an ability
            to not only understand projects, but to integrate every aspect of them,
            challenging and contributing in a manner that makes him an a highly
            valued individual.</p>

        <p>He’s a developer that constantly thinks about what he’s doing, adding
            value at every turn and enhancing our knowledge stream in the process.</p>
    {% else %}
        <p>To say Aaron Lord is a very good developer would be an understatement [<a href="/testimonials">...</a>]</p>
    {% endif %}

    <p><cite>Lawrence Evarard @ <a href="http://www.littleyellowduck.co.uk/">Little Yellow Duck</a></cite></p>
</blockquote>
