<blockquote>
    {% if include.excerpt == "false" %}
        <p>When we reached out to Aaron asking for help to build our website, I never
            could have imagined what a great decision that would turn out to be.  We've
            worked with Aaron for almost a year, on a large, complicated project, and
            Aaron has handled it from start to finish with great skill.</p>

        <p>He's never afraid to ask questions, always offers a healthy challenge when he
            thinks there is a better way to do something (he's normally right) and is always
            comes up with creative solutions.  His technical skill is also
            top-notch on both the front and back end. We are looking forward to working
            with him for many years to come.</p>
    {% else %}
        <p>[ Aaron ] always comes up with creative solutions. His technical skill is also
            top-notch on both the front and back end. We are looking forward to working with
            him for many years to come [<a href="/testimonials">...</a>]</p>
    {% endif %}

    <p><cite>Mark Hughes @ <a href="https://tutora.co.uk/">Tutora</a></cite></p>
</blockquote>
