---
import { getCollection, getEntry } from 'astro:content';
import Project from './Project.astro';
const projects = (
    await getCollection('projects', ({ data }) => {
      return import.meta.env.PROD ? data.draft !== true : true;
    })
)
    .sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
---
<div class="mt-6 space-y-12">
    {projects.map(project => (
        <Project project={project} />
    ))}
</div>
