---
layout: default
selector: work
title: Work
site_nav_index: 2
permalink: /stuff/
---

<div class="wrapper">
    <section class="chapter"><!--
        --><header class="chapter__header">
            <h1 class="heading kilo">I make www's</h1>
        </header><!--

        --><div class="chapter__content">
            <div class="chapter__intro">
                <p class="delta">Here's a small showcase of some of the things I've been working on.</p>
            </div>
        </div><!--

        --><div class="chapter__articles">
            <article class="article chapter__article"><!--
                --><header class="article__header">
                    <h2>Tutora</h2>
                </header><!--

                --><div class="article__content">
                    {% include components/browser.html videos="video/webm:/videos/project-tutora/search.webm,/video/mp4:/videos/project-tutora/search.mp4" src="/img/tutora.jpg" alt="Tutora" url="https://tutora.co.uk/" %}
                    <p>Starting life as an idea roughed out in an email, I was tasked with planning, branding,
                        designing and developing what would become Tutora.</p>

                    <p>Tutora connects students looking for private tuition with talented and trusted tutors.</p>

                    <p>Focusing on ease of use for both student and tutor, the website features bespoke search,
                        messaging, booking, payment and review systems.</p>

                    <p>Tutora was, and still is, huge fun to work on. I'm proud of it.</p>

                    {% include testimonials/tutora.html %}
                </div><!--


                --><div class="article__meta">
                    <dl>
                        <dt>status</dt>
                        <dd>live</dd>

                        <dt>designer</dt>
                        <dd><a href="https://dribbble.com/{{ site.adam_dribbble_username }}">Adam Clark</a> & myself</dd>

                        <dt>url</dt>
                        <dd><a href="https://tutora.co.uk/">https://tutora.co.uk/</a></dd>
                    </dl>
                </div><!--
            --></article>

            <article class="article chapter__article"><!--
                --><header class="article__header">
                    <h2>Keystrokes</h2>
                </header><!--

                --><div class="article__content">
                    {% include components/browser.html videos="video/webm:/videos/project-keystrokes/overview.webm,video/mp4:/videos/project-keystrokes/overview.mp4" src="/img/keystrokes.jpg" alt="Keystrokes" url="http://alpha.keystrok.es/" %}

                    <p>Touch typing is amazing. Keystrokes is something I'm working on to teach it to the masses in a fun way.</p>

                    <p><a href="http://alpha.keystrok.es/learn/">Learn</a> the correct finger positions, <a href="http://alpha.keystrok.es/practice/">practice</a> 'real world' sentences solo or
                        <a href="http://alpha.keystrok.es/race/">race</a> against others from around the world in realtime.</p>

                    <p>We spend far too long on computers these days to still be hunt and pecking our way through
                        documents, emails, IMs, etc.</p>
                </div><!--

                --><div class="article__meta">
                    <dl>
                        <dt>status</dt>
                        <dd><abbr title="alpha">in development</abbr></dd>

                        <dt>designer</dt>
                        <dd><a href="https://dribbble.com/{{ site.adam_dribbble_username }}">Adam Clark</a> & myself</dd>

                        <dt>urls</dt>
                        <dd><a href="http://keystrok.es/">http://keystrok.es/</a></dd>
                        <dd><a href="http://alpha.keystrok.es/">http://alpha.keystrok.es/</a></dd>
                    </dl>
                </div><!--
            --></article>

            <article class="article chapter__article"><!--
                --><header class="article__header">
                    <h2>Laroute</h2>
                </header><!--

                --><div class="article__content">
                    {% include components/browser.html src="/img/laroute.jpg" alt="Laroute" url="https://github.com/aaronlord/laroute/" %}

                        <p>Laravel has some pretty sweet helper functions for generating urls/links and its auto-json-magic makes it building
                            APIs super easy. It's the go-to choice for building single-page js apps for me and many others, but routing can
                            quickly become a bit of a pain.</p>

                        <p>This package allows you to port your routes over to JavaScript, and gives us a bunch of very familiar helper
                            functions to use.</p>
                </div><!--

                --><div class="article__meta">
                    <dl>
                        <dt>installs</dt>
                        <dd><a href="https://packagist.org/packages/lord/laroute/stats">10,000+</a></dd>

                        <dt>stars</dt>
                        <dd><a href="https://github.com/{{ site.github_username }}/laroute">200+</a></dd>

                        <dt>url</dt>
                        <dd><a href="https://github.com/{{ site.github_username }}/laroute">https://github.com/aaronlord/laroute</a></dd>

                        <dt>fame</dt>
                        <dd><a href="https://twitter.com/taylorotwell/status/446829096018796546">Taylor, the creator of Laravel</a></dd>
                    </dl>
                </div><!--
            --></article>

            <article class="article chapter__article"><!--
                --><header class="article__header">
                    <h2>Cookit</h2>
                </header><!--

                --><div class="article__content">
                    {% include components/browser.html src="/img/cookit.jpg" alt="Cookit" url="https://cookit.co/" %}

                    <p>Cookit and <a href="http://littleyellowduck.co.uk/">LYD</a> tasked me with building a web
                        app with an ambitious goal. They wanted to simplify cooking and shopping, while cutting
                        down on waste.</p>

                    <p>Cookit creates meal plans for you that minimize waste. A simple example would be: if one
                        recipe uses half a pack of chicken, it will attempt to use the other half in another
                        meal that same week.</p>

                    <p>Digging a little deeper: Cookit will also remember if you have non-perishable items
                        from a previous purchase, choose wisely from mutliple pack sizes (a pack of 2 or 4 chicken breasts)
                        and even choose between premium and budget food options.

                    <p>You then simply purchase your meal plan. Cookit will ship you the ingredients and recipes.</p>
                </div><!--

                --><div class="article__meta">
                    <dl>
                        <dt>status</dt>
                        <dd>live</dd>

                        <dt>designer</dt>
                        <dd><a href="http://littleyellowduck.co.uk/">LYD</a></dd>

                        <dt>url</dt>
                        <dd><a href="https://cookit.co/">http://cookit.co/</a></dd>
                    </dl>
                </div><!--
            --></article>
        </div><!--
    --></section>
</div>
