<!doctype html>
<html class="dark">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if page.title %}{{ page.title }} / {% endif %}{{ site.title }}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Merriweather&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/dist/tailwind.css">
    </head>
    <body class="text-gray-600 dark:bg-gray-800 dark:text-gray-200">
        {{ content }}
    </body>
</html>
