---
layout: default
---

<div class="wrapper">
    <section class="chapter"><!--
        --><header class="chapter__header">
            <h1 class="heading kilo">{{ page.title }}</h1>
            <ul class="list-inline list-inline--slash-delimited">
                <li>{{ page.date | date: "%b %-d, %Y" }}
                <li>Aaron Lord
                {% if page.meta %}<li>{{ page.meta }}</li>{% endif %}
            </ul>
        </header><!--

        --><div class="chapter__content">
            {{ content }}
        </div><!--
    --></section>
</div>
