---
layout: default
---

<div class="px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-prose">
        <div class="relative py-16 overflow-hidden">
            <a href="/" class="absolute top-0 left-0 pt-4 text-xs underline">Back</a>

            <div class="text-lg">
                <h1>
                    <span class="block text-4xl font-bold text-center text-gray-900 font-display leading-8 sm:text-5xl dark:text-white">
                        {{ page.title }}
                    </span>

                    <span class="block mt-3 text-base tracking-wide text-center">
                        {{ page.subtitle }}
                    </span>
                </h1>

                <div class="mt-6 mb-2 prose dark:prose-dark">
                    {{ content | remove_first:page.excerpt }}
                </div>
            </div>
        </div>
    </div>
</div>
