---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}</title>
        <meta name="description" content={description}>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>">
    </head>
    <body class="text-gray-700">
        <slot />
    </body>
</html>

<script>
    document.querySelectorAll('video').forEach(video => {
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.intersectionRatio > 0) {
                    entry.target.play();
                } else {
                    entry.target.pause();
                }
            });
        },
        {
            threshold: 0.01
        });

        observer.observe(video);
    });
</script>
