<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Freelance Web Developer / Laravel &amp; Vue / aaron.codes</title>
        <meta name="description" content="I'm an experienced full stack developer from the UK, specialising in Laravel and Vue.">
    </head>
    <body class="text-gray-700">
        <slot />
    </body>
</html>
